<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="af6cff">  <td>19/04/03 11:47:39</td>   <td>0</td> <td title="&gt;&gt;SafaricomAutomationReport.beforeSuite()[pri:0, instance:com.safaricom.report.SafaricomAutomationReport@25fb8912]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@103103526</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/04/03 11:47:39</td>   <td>120</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomAutomationReport.beforeClass()[pri:0, instance:com.safaricom.report.SafaricomAutomationReport@25fb8912]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@103103526</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/04/03 11:47:39</td>   <td>129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomAutomationReport.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomAutomationReport@25fb8912]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@103103526</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/04/03 11:47:39</td>   <td>131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomAutomationReport.maintest()[pri:0, instance:com.safaricom.report.SafaricomAutomationReport@25fb8912]">maintest</td> 
  <td>main@103103526</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/04/03 11:48:14</td>   <td>35118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomAutomationReport.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomAutomationReport@25fb8912]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@103103526</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/04/03 11:48:14</td>   <td>35179</td> <td title="&lt;&lt;SafaricomAutomationReport.endReport()[pri:0, instance:com.safaricom.report.SafaricomAutomationReport@25fb8912]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@103103526</td>   <td></td> </tr>
</table>
